<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Room</title>
</head>

<body>
    <li> <%= data %></li>
    <form onsubmit="document.querySelector('#username').value=localStorage.getItem('userName')" action="/chatRoom" method="POST">
        <input type="text" name="message" id="message" placeholder="message">
        <input type="hidden" id="username" name="username">
        <button type="submit">SEND</button>
    </form>
</body>

</html>